.pokemons-list-wrapper {
    margin: 2rem auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

.pokemon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}



.controls button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
