body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-pokedex{
    display:flex;
    flex-direction:column;
   
}


#pokedex-heading{
    margin:0 auto;
    letter-spacing: 5px;
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}